.size_p {
  margin: 0px 10px;
  padding: 3px;
  cursor: pointer;
  font-size: 18px;

}

@media (max-width: 991px) {
  .size_p {
    margin: 0 6px;
    padding: 3px 10px;
    font-size: 16px;
    border-radius: 0px;
  }
}

@media (max-width: 280px) {
  .size_p {
    margin: 0px 2px;
  }
}
